header {
  background: #373b69;
  padding: 1.5rem;
  display: flex;

  .barra-busqueda {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 50px;
    background-color: transparent;
    border: 2px solid #22254b;
    font-family: inherit;

    &::placeholder {
      color: red;
    }

    &:focus {
      outline: none;
      background-color: white;
    }
  }
}
