* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url("../img/fondo-tapiz.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

main {
  display: flex;
  flex-wrap: wrap;
}
